$transition: all 0.3s ease

$muller: 'Muller'

$main: #262626
$white: #ffffff
$gray: #a8a8a8

$primary: #3e6bbc
$err: #ff000c
$success: #21d272

$colors: (main: $main, white: $white, gray: $gray)

$sm: 575px
$md: 767px
$lg: 991px
$xl: 1199px

$shadow: 0 0 43px rgba(40, 40, 40, 0.33)
